*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

:root{
    --font-family: "poppins", sans-serif;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-EB: 'IBM Plex Serif', serif;
}

header nav{
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin-left: -23em;
    margin-top: 4em;
    font-family: var(--font-family);
}

.logo span{
    color: blueviolet;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

ul li:nth-child(5){
    position: relative;
}

ul li:nth-child(1)::before{
    position: absolute;
    width: 3.5em;
    height: 3px;
    background: skyblue;
    content: '';
    margin-top: 48px;
}


ul li:nth-child(5){
    background: skyblue;
    border-radius: 70px;
    color: black;
}

.line{
    width: 85em;
    height: 0.5px;
    background: black;
    margin-top: 20px;
    margin-left: 40px;
}

.showcase{
    margin-top: 5em;
}

.showcase h4{
    font-family: var(--font-Montserrat);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.showcase h3{
    font-family: var(--font-eb);
    font-size: 5em;
    margin-bottom: 30px;
}

.details{
    width: 49.9%;
    margin-left: 24em;
    font-family: var(--font-family);
}

.button{
    margin-top: 40px;
    font-family: var(--font-family);
}

.button button{
    padding: 10px;
    border-radius: 10pc;
    border: 0;
    background: skyblue;
}